.mat-tab-group{
    padding: 4px 40px;}

.mat-form-field{
    width: 100%;}

textarea{
    height: 100px;}

button{
    background-color: #071B63;
    color: white;
    border-radius: 5px;
    width: 100px;
    padding: 10px 20px;
    border:  transparent;
    box-shadow: 1px 1px 2px #eee;
    font-weight: 700;}

.container{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
