<div class="antialiased bg-gray-100">
  <div class="flex relative" x-data="{navOpen: false}">
      <!-- NAV -->
      <nav class="absolute md:relative w-64 transform -translate-x-full md:translate-x-0 h-screen overflow-y-scroll bg-black transition-all duration-300" :class="{'-translate-x-full': !navOpen}">
          <div class="flex flex-col justify-between h-full bg-black">
              <div class="p-4">
                  <!-- LOGO -->
                  <a class="flex items-center text-white space-x-4" href="">
                      <mat-icon class="w-7 h-7 bg-indigo-600 rounded-lg p-1">user</mat-icon>
                      <span class="text-2xl font-bold"></span>
                  </a>

                  <!-- SEARCH BAR -->

                  <!-- NAV LINKS -->
                  <div class="block" x-data="{open: true}">
                    <div  class=" text-white flex items-center justify-between hover:bg-gray-800 hover:text-white cursor-pointer py-2.5 px-4 rounded">
                        <div class="flex items-center space-x-2">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"></path></svg>
                            <span>Employee</span>
                        </div>
                        <svg x-show="open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path></svg>
                        <svg x-show="!open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                    </div>
                    <div x-show="open" class="text-sm border-l-2 border-gray-800 mx-6 my-2.5 px-2.5 flex flex-col gap-y-1">
                        <a href="/employee/add-goal" class="block text-white py-2 px-4 hover:bg-gray-800 hover:text-white rounded">
                            Add Goals
                        </a>
                        <a href="/employee/goals" class="block text-white py-2 px-4 hover:bg-gray-800 hover:text-white rounded">
                            Goals
                        </a>
                        <a href="/employee/reviews" class="block text-white py-2 px-4 hover:bg-gray-800 hover:text-white rounded">
                            Review from Line Manager
                        </a>
                        <a href="/employee/completed" class="block text-white py-2 px-4 hover:bg-gray-800 hover:text-white rounded">
                          Review from Line Manager
                      </a>
                    </div>
                </div>
              </div>

              <!-- PROFILE -->
              <div class="text-gray-200 border-gray-800 rounded flex items-center justify-between p-2">
                  <div class="flex items-center space-x-2">
                      <!-- AVATAR IMAGE BY FIRST LETTER OF NAME -->
                      <mat-icon class="w-7 w-7 rounded-full">admin_panel_settings</mat-icon>
                      <h1>employee</h1>
                  </div>
                  <a onclick="event.preventDefault(); document.getElementById('logoutForm').submit()" href="#" class="hover:bg-gray-800 hover:text-white p-2 rounded">
                      <form id="logoutForm" action="" method="POST">
                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
                      </form>
                  </a>
              </div>

          </div>
      </nav>
      <!-- END OF NAV -->

      <!-- PAGE CONTENT -->
      <main class="flex-1 h-screen overflow-y-scroll overflow-x-hidden">
        <router-outlet></router-outlet>
      </main>
  </div>
</div>
